<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Private Chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/chat.css">
    </head>
    <body>
        <div id="contentWrapper">
            <ul id="messages">
                <!-- Loading messages from our DB -->
                <% allResults.forEach(element => { %>
                    <li>
                        <p class="messageAuthor"> <%= element.authorname %> </p>
                        <p class="messageContent"> <%= element.message %> </p>
                    </li>
                <% }) %>
                <!-- We'll be appending messages here using code -->
            </ul>
        </div>

        <form id="form" action="">
            <input id="input" autocomplete="off"/>
            <button id="send">Send</button>
        </form>




        <!-- This script tag is needed in order to use socket.js on the client-side -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Since EJS looks kind of ugly, we're passing all the necessary info
        into our index.js file as follows, in this hack-y way. -->
        
        
        <!-- const newMsg = document.createElement("li");

        const authorTitle = document.createElement("p");
        authorTitle.classList.add("messageAuthor");
        authorTitle.innerText = author;

        const msgContent = document.createElement("p");
        msgContent.classList.add("messageContent");
        msgContent.innerText = msg;

        newMsg.appendChild(authorTitle);
        newMsg.appendChild(msgContent);
        messages.appendChild(newMsg); -->

        <!-- This is the actual messing about we do using the socket.io capabilities -->
        <script src="../js/index.js"></script>
    </body>
</html>