<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Private Chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="contentWrapper">
            <ul id="messages">
                <!-- We'll be appending messages here using code -->
            </ul>
        </div>

        <form id="form" action="">
            <input id="input" autocomplete="off"/>
            <button id="send">Send</button>
        </form>




        <!-- This script tag is needed in order to use socket.js on the client-side -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Since EJS looks kind of ugly, we're passing all the necessary info
        into our index.js file as follows, in this hack-y way. -->
        <script>
            const dataBase = [];
            let newEntry;
            <%for(let i=0; i<db.length; i++) { %>
                newEntry = {
                    "author": "<%= db[i].author %>",
                    "message": "<%= db[i].message %>"
                };
                dataBase.push(newEntry);
            <%} %> 
            // All the data we have in this script tag is available now, in our index.js.
        </script>

        <!-- This is the actual messing about we do using the socket.io capabilities -->
        <script src="js/index.js"></script>
    </body>
</html>