<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/forms.css">
    </head>
    <body>

        <h1>Join in the revelry, human!</h1>

        <form id="loginForm" action="/login" method="POST">
            <input placeholder="Username" name="username" type="text">
            <input placeholder="Password" name="password" type="password">
            <button>Log in</button>
        </form>
        
    </body>
</html>