<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/forms.css">
    </head>
    <body>

        <h1>Join in the revelry, human!</h1>
        <h4> <%= message %> </h4> <!-- An error message, if there is any. -->

        <form id="form" action="/signup" method="POST">
            <p>Username:</p>
            <input placeholder="Username" name="username" type="text">
            <p>Password:</p>
            <input placeholder="Password" name="password" type="password">
            <p>Profile Picture:</p>
            <input placeholder="Paste link here..." name="pfp" type="text">
            <p>User colour:</p>
            <input class="colour" name="colour" type="color">
            <button>Sign up</button>
        </form>

        <h4>Already have an account? <a href="/login">Log in.</a></h4>
        
    </body>
</html>