/* A menu bar along the top for contextual info and settings shortcut */
#menu {
    width: 100%;
    height: 3rem;
    background-color: #161A1D;
    padding: 0 1rem;    
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Will wrap both our sidebar (to be added) and our messages */
#contentWrapper {
    width: 95%;
    margin-left: 2.5%;
    height: calc(100% - 5.7rem);
}

/* Where our messages go */
.messages {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0;
}
.messages li {
    box-sizing: border-box;
    padding: 0.5rem;
    border-bottom: 2px solid #161A1D;
    list-style: none;
}

.messages::-webkit-scrollbar{
    background-color:#161A1D;
    border-radius: 10px;
}
.messages::-webkit-scrollbar-thumb {
    background-color:#660708;
    border-radius: 10px;
}

/* Styling for each individual message */
.messageAuthor{
    font-weight: 900;
    font-size: 1.1rem;
    padding: 0 0 0.25rem 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.messages li {
    display: flex;
    flex-direction: row;
    position: relative;
}
.messageDiv {
    width: calc(100% - 3rem);
    margin-left: 0.5rem;
    /* height: 1px; */
}
.pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.messageContent {
    margin: 0 0 0.125rem 0;
    width: 100%;
    word-wrap: break-word;
}

/* For the little hover thingy we have on each of our messages */
.options {
    display: none;
}
.messageDiv:hover span p ~ .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    position: absolute;
    right: .5%;
    top: 5%;
    background-color: #161A1D;
    border-radius: 0.3rem;
    margin: 0;
}
.messageDiv:hover span p ~ .options button{
    font-size: 1rem;
}
.options button {
    border: none;
    background-color: transparent;
}
.options p {
    display: none !important;
}
.delete {
    font-size: 1.2rem;
    color: #A4161A;
}

/* Misc. */
.private {
    display: none;
}
#settings {
    font-size: 1.2rem;
    color: #660708;
}


/* Styling for the form */
#form {
    width: 95%;
    height: 2.7rem; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 1%;
    left: 2.5%;
}
#input {
    width:89%;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color:#A4161A;
    color: white;
    box-sizing: border-box;
    border-radius: 1rem 0 0 1rem;
    border: 3px solid #660708;
    border-right: none;
}
#send {
    border-radius: 0 1rem 1rem 0;
    width: 9%;
    border: 3px solid #660708;
    background-color: #A4161A;
    color: white;
}