/* Wraps all our content */
#contentWrapper {
    width: 95%;
    margin-left: 2.5%;
}

/* Allows to switch between general and private chat */
#tabSwitcher {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#tabSwitcher p {
    width: 50%;
    height: 3rem;   
    box-sizing: border-box;
    padding-top: 0.8rem;
    text-align: center;
    background-color: #0B090A;
    margin: 1rem 0.25rem 0 0.25rem;
    border-radius: 1rem 1rem 0 0;
}
#tabSwitcher p:last-child {
    background-color: #161A1D;
}

/* Where our messages go */
.messages {
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    padding: 0;
}
.messages li {
    box-sizing: border-box;
    padding: 0.5rem;
    border-bottom: 2px solid #161A1D;
    list-style: none;
}
.messageContent:hover + .options {
    display: block;
}
.messageAuthor:hover ~ .options {
    display: block;
}
.options:hover {
    display:block;
}
.messages::-webkit-scrollbar{
    background-color:#161A1D;
    border-radius: 10px;
}
.messages::-webkit-scrollbar-thumb {
    background-color:#660708;
    border-radius: 10px;
}

/* Styling for each individual message */
.messageAuthor{
    font-weight: 900;
    font-size: 1.1rem;
    padding: 0 0 0.25rem 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.messages li {
    display: flex;
    flex-direction: row;
}
.messageDiv {
    width: calc(100% - 3rem);
    margin-left: 0.5rem;
    height: 1px;
}
.pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.messageContent {
    margin: 0 0 0.125rem 0;
    width: 100%;
    word-wrap: break-word;
}

/* For the little hover thingy we have on each of our messages */
.options {
    display: none;
    position:relative;
    bottom: 2rem;
    float:right;
    height: 1.5rem;
    width: 100px;
    background-color: #161A1D;
    border-radius: 0.5rem;
    margin: 0;
}
.options button {
    border: none;
    background-color: transparent;
}
.options p {
    display: none !important;
}
.delete {
    font-size: 1.2rem;
    color: red;
}

/* Misc. */
.private {
    display: none;
}

/* Styling for the form */
#form {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 1%;
    left: 2.5%;
}
#input {
    width:89%;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color:#A4161A;
    color: white;
    box-sizing: border-box;
    border-radius: 1rem 0 0 1rem;
    border: 3px solid #660708;
    border-right: none;
}
#send {
    border-radius: 0 1rem 1rem 0;
    width: 9%;
    border: 3px solid #660708;
    background-color: #A4161A;
    color: white;
}